@using QLBH_055.Models;
@model List<SANPHAM>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/CssClient/CssDungChung.css" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-content ">
                @foreach (var item in ViewBag.SanPham)
                {
                    if (item.GIASP != null && item.GIAMGIA == 0)
                    {
                        <div class="frame ">
                            <div class="picture">
                                <div class="hovereffect">
                                    @if (item.SPMOI == 1)
                                    {
                                        <span class="new">Mới</span>
                                    }
                                    <a href="~/Chi-Tiet?MASP=@item.MASP"><img src="@Url.Content("~/Image/"+item.ANHSP+"")" class="img-size img-responsive text-center img-thumbnail" alt=""></a>
                                    <div class="overlay">

                                        <a data-id="@item.MASP" class="info  btn giohang" style="margin-top:100px;" data-toggle="tooltip">Thêm giỏ hàng</a>

                                    </div>
                                    @*<div class="xem"></div>*@
                                </div>
                                <div class="content-row">
                                    <p style="font-size: 15px;" class="title-content"><strong class="color-p">@Html.Action("FormatPrice", "Home", new { _strInput = item.GIASP }) đ/KG</strong></p>
                                    <a href="~/Chi-Tiet?MASP=@item.MASP"><p class="title-content">@item.TENSP</p></a>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="frame">
                            <div class="picture">
                                <div class="hovereffect">
                                    <span class=" sale">Giảm giá</span>
                                    <a href="~/Chi-Tiet?MASP=@item.MASP"><img src="@Url.Content("~/Image/"+item.ANHSP+"")" class="img-size img-responsive text-center img-thumbnail" alt=""></a> <div class="overlay">
                                        <a data-id="@item.MASP" class="info  btn giohang" style="margin-top:100px;" data-toggle="tooltip">Thêm giỏ hàng</a>

                                    </div>
                                </div>

                                <div class="content-row">

                                    <p style="font-size: 15px;" class="title-content"><strong class="color-p">@Html.Action("FormatPrice", "Home", new { _strInput = item.GIASP - item.GIAMGIA }) đ/KG</strong> &nbsp &nbsp<del>@Html.Action("FormatPrice", "Home", new { _strInput = item.GIAMGIA }) đ/KG</del></p>
                                    <a href="~/Chi-Tiet?MASP=@item.MASP"><p class="title-content">@item.TENSP</p></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <p class="flex-middle mt-30">
                <input id="xemthem" data-madm="@ViewContext.ViewBag.MADM" class="btn btn-custom btn-small xem-them" type="button" value="Tải thêm" />
            </p>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.giohang').off('click').on('click', function (e) {
            var MASP = $(this).data('id');
            e.preventDefault();
            $.ajax({
                data: { MASP: MASP },
                url: '/Home/AddGioHang',
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        $('#HeaderPartial').load("/Header/HeaderPartial");
                    }
                }
            })
        });
        $('#xemthem').off("click").on('click', function (e) {
            e.preventDefault();
            //var MADM = document.location.search.slice(1).split("=")[1];
            let MADM = $('.xem-them').data('madm');
            var XEMTHEM = true;
            $("#ContentPartial").load('/Home/ContentPartial', { MADM: MADM, XEMTHEM: XEMTHEM });
            return false;
        });
    });
</script>
