@using QLBH_055.Models
<!DOCTYPE html>
<html lang="en">
<head>
    @{ #line 2 "C:\Users\Nguyen Quang Linh\Desktop\Quanlybanhoa\QLBH_055\QLBH_055\Areas\Admin\Views\Shared\_LayoutAdmin.cshtml"
                    /**/
                    /**/
                    /**/
                    /**/

                    string sott = Html.Action("Counttintuc", "Admin").ToString();
                    string doanhthu = Html.Action("CountDT", "Admin").ToString();
                    string sohoa = Html.Action("CountHoa", "Admin").ToString();
                    string sokh = Html.Action("CountKH", "Admin").ToString();
                    string Logo = Html.Action("GetQC", "Admin", new { ThuTuQC = 1 }).ToString();
    }
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Admin</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/CssAdmin/stylesAdmin.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/paper-dashboard.css" rel="stylesheet" />

    @*<link href="~/Content/CssAdmin/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/Content/CssAdmin/stylesAdmin.css" rel="stylesheet" />*@
    <link href="~/Content/themify-icons.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="~/Scripts/paper-dashboard.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    @*@Html.Action("HeaderADPartial", "Admin")
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                <li class="active"><a href="~/Admin/Admin/TrangChu"><span class="glyphicon glyphicon-dashboard"></span>Trang Chủ</a></li>
                <li class="parent ">
                    <a href="#sub-item-4" data-toggle="collapse">
                        <span data-toggle="collapse" href="#sub-item-4" class="glyphicon glyphicon-shopping-cart"></span>QLĐơn đặt hàng<span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                    </a>
                    <ul class="children collapse" id="sub-item-4">
                        <li>
                            <a class="" href="~/Admin/QLHoaDon/HoaDon">
                                <span class="glyphicon glyphicon-plus"></span> Hóa đơn
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent ">
                    <a href="#sub-item-1" data-toggle="collapse">
                        <span data-toggle="collapse" href="#sub-item-1" class="glyphicon glyphicon-barcode"></span>QLSản phẩm<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                    </a>
                    <ul class="children collapse" id="sub-item-1">
                        <li>
                            <a class="" href="~/Admin/QLSanPham/SanPham">
                                <span class="glyphicon glyphicon-plus"></span> Sản Phẩm
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent ">
                    <a href="#sub-item-2" data-toggle="collapse">
                        <span data-toggle="collapse" href="#sub-item-2" class="glyphicon glyphicon-user"></span>QLKhách hàng<span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                    </a>
                    <ul class="children collapse" id="sub-item-2">
                        <li>
                            <a class="" href="~/Admin/QLKhachHang/KhachHang">
                                <span class="glyphicon glyphicon-plus"></span> Khách Hàng
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#sub-item-3" data-toggle="collapse">
                        <span data-toggle="collapse" href="#sub-item-3" class="glyphicon glyphicon-lock"></span>Menu, Danh mục<span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
                    </a>
                    <ul class="children collapse" id="sub-item-3">
                        <li>
                            <a href="~/Admin/QLMenu/Menu"><i class="glyphicon glyphicon-plus"></i> Menu</a>
                        </li>
                        <li>
                            <a href="~/Admin/QLDanhMuc/DanhMuc"><i class="glyphicon glyphicon-plus"></i> Danh Mục</a>
                        </li>
                    </ul>
                </li>
                <li><a href="~/Admin/QLQuangCao/QuangCao"><span class="glyphicon glyphicon-certificate"></span>Quảng cáo</a></li>
                <li><a href="~/Admin/QLTinTuc/TinTuc"><span class="glyphicon glyphicon glyphicon-bookmark"></span>Tin tức</a></li>
                <li><a href="~/Admin/QLThongKe/ThongKe"><span class="glyphicon glyphicon-file"></span>Thống kê</a></li>
                <li><a href="~/Admin/QLAdmin/Admin"><span class="glyphicon glyphicon-unchecked"></span>Admin</a></li>

                <li role="presentation" class="divider"></li>
                <li><a href="~/Admin/Admin/DangXuat"><span class="glyphicon glyphicon-off"></span>Đăng xuất</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/ckeditor")
        @Scripts.Render("~/bundles/bootstrap")*@
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="~/Admin/Admin/TrangChu" class="simple-text">
                        <img class="" src="@Url.Content(Logo)" alt="logo">
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="~/Admin/QLAdmin/Admin">
                            <i class="ti-panel"></i>
                            <p>Admin</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLKhachHang/KhachHang">
                            <i class="ti-user"></i>
                            <p>Khách hàng</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLDanhMuc/DanhMuc">
                            <i class="ti-view-list-alt"></i>
                            <p>Danh mục</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLMenu/Menu">
                            <i class="ti-menu-alt"></i>
                            <p>Menu</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLSanPham/SanPham">
                            <i class="ti-layout-grid3"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLThongKe/ThongKe">
                            <i class="ti-map"></i>
                            <p>Thống kê </p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLHoaDon/HoaDon">
                            <i class="ti-map"></i>
                            <p>Hóa đơn</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLTinTuc/TinTuc">
                            <i class="ti-image"></i>
                            <p>Tin tức</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/QLQuangCao/QuangCao">
                            <i class="ti-file"></i>
                            <p>Quảng cáo</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            @RenderBody()

            <footer class="footer">
                <div class="container-fluid">

                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, Nguyễn Quang Linh <i class="fa fa-heart heart"></i> <a href="">Quản Lý Bán Hoa</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/ckeditor")
        @Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>
