@using QLBH_055.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/CssAdmin/stylesAdmin.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">Quản lý hoa</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-eye"></i>
                        @if (Session["ADMIN"] != null)
                        {
                            <p class="notification">@Session["TENAD"].ToString()</p>
                        }
                    </a>
                </li>
                <li class="dropdown">
                    <a href="~/Admin/Admin/DangXuat"><i class="ti-close"></i>  <p>Đăng xuất</p></a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="col-lg-2"> <a id="btnAdd" href="#" class="btn btn-info">Thêm sản phẩm</a></div>
                        <div class="col-lg-2">
                            @using (Html.BeginForm("Upload", "QLSanPham", FormMethod.Post, new
                            {
                                enctype = "multipart/form-data"
                            }))
                            {
                                <input type="file" class="btn" name="UploadedFile" placeholder="Upload file" value="them" />
                                <input type="submit" name="Submit" class="btn btn-info" value="Submit" />
                            }
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped ">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên</th>
                                    <th>Ảnh</th>
                                    <th>Xuất sứ</th>
                                    <th>Mô tả</th>
                                    <th>Giá</th>
                                    <th>Giám giá</th>
                                    <th>Mới</th>
                                    <th>Mã danh mục</th>
                                    <th>Lượt xem</th>
                                    <th>Số lượng</th>
                                    <th>Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MASP</td>
                                        <td>@item.TENSP</td>
                                        <td>@item.ANHSP@*<img src="~/Image/@Url.Content(item.ANHSP)" class="img-responsive custom-size" alt="Lỗi" />*@</td>
                                        <td>@item.XUATSU</td>
                                        <td>@item.MOTA</td>
                                        <td>@String.Format("{0:#,##}", @item.GIASP)</td>
                                        <td>@String.Format("{0:#,##}", @item.GIAMGIA)</td>
                                        <td>@item.SPMOI</td>
                                        <td>@item.MADM</td>
                                        <td>@item.LUOTXEM</td>
                                        <td>@item.SOLUONG</td>
                                        <td>
                                            <a href="#" data-id="@item.MASP" class="btnUpdate" data-toggle="tooltip" title="Sửa"><img src="~/Image/edit.png" alt="Update" /></a>
                                            <a href="#" data-id="@item.MASP" onclick="return ThongBao()" class="btnXoa" data-toggle="tooltip" title="Xóa"><img src="~/Image/delete.png" alt="Delete" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="" style="text-align:center;">
                            @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
            <div id="PartialView" style="">

            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
    function ThongBao() {
        if (confirm("Bạn chắc chắn muốn xóa sản phẩm này?")) {
            return true;
        }
        else {
            return res.status == false;
        }
    }
    $(document).ready(function () {
        $('.btnXoa').off('click').on('click', function () {
            var MASP = $(this).data('id');
            $.ajax({
                data: { MASP: MASP },
                url: '/Admin/QLSanPham/Xoa',
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/Admin/QLSanPham/SanPham";
                        alert("Bạn đã xóa thành công");
                    }
                }
            })
        })
        $('.btnUpdate').off('click').on('click', function () {
            var MASP = $(this).data('id');
            $('#PartialView').load("/Admin/QLSanPham/SuaPartial", { MASP: MASP });
        })


        $('#btnAdd').off('click').on('click', function () {
            $('#PartialView').load("/Admin/QLSanPham/ThemPartial");
        })
    });
</script>