@using QLBH_055.Models
@model KHACHHANG






<div class="col-md-12 text-center">
    <div class="card card-plain">
        <div class="header">
            <h2>Sửa khách hàng</h2>

        </div>
        <div class="content table-responsive table-full-width">
            @using (Html.BeginForm("SuaKhachHang", "QLKhachHang", FormMethod.Post))
            {
               
                        <div class="layout">
                            @Html.TextBoxFor(n => n.MAKH, new { @class = "textboxchung", @placeholder = "Mã khách hàng", disabled = "disabled" })
                        </div>
                        <div class="layout">
                            @Html.TextBoxFor(n => n.HOTEN, new { @class = "textboxchung", @placeholder = "Tên khách hàng" })
                        </div>
                        <div class="layout">
                            @Html.TextBoxFor(n => n.DIENTHOAI, new { @class = "textboxchung", @placeholder = "Điện thoại" })
                        </div>
                        <div class="layout">
                            @Html.TextBoxFor(n => n.EMAIL, new { @class = "textboxchung", @placeholder = "Email" })
                        </div>
                        <div class="layout">
                            @Html.TextBoxFor(n => n.MATKHAU, new { @class = "textboxchung", @placeholder = "Mật khẩu" })
                        </div>
                        <div class="layout-custom">
                            <b>Giới tính:</b>
                            @Html.RadioButtonFor(n => n.GIOITINH, "Nam") Nam
                            &nbsp;&nbsp;@Html.RadioButtonFor(n => n.GIOITINH, "Nữ") Nữ
                        </div>
                        <div class="layout">
                            @Html.TextBoxFor(n => n.NGAYSINH, new { @class = "textboxchung", @placeholder = "Ngày sinh" })
                        </div>
                        <div class="layout">
                            @Html.TextAreaFor(n => n.DIACHI, new { @class = "textboxchung-custom", @placeholder = "Địa chỉ" })
                        </div>
                        <div class="layout">
                            <input id="btnCapNhat" type="submit" class="btn btn-primary" value="Cập nhật" />
                        </div>
                 
            }
        </div>
    </div>
</div>
